<!-- Footer -->
<footer class="bg-success text-center text-white">
  <!-- Grid container -->
  <div class="container p-2">
    <!-- Section: Text -->
    <section>
      <p>
        Developed By Mohamed Rajab Contact Him On 17991236 or
        mohamed.rajab@ewa.bh
      </p>
    </section>
    <!-- Section: Text -->
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->
