<div class="header">
  <div class="logo">
    <img
      src="https://www.ewa.bh/en/HeaderImages/EWALogo.png"
      alt="Logo"
      style="width: 350px; height: auto"
    />
  </div>
  <title>All Schemes</title>

  <h1>Main Records Web Version 1.0</h1>
  <div class="actions">
    <button
      id="showSpinnerHomeBtn"
      onclick="showSpinnerHomeBtnFunc(); setTimeout(redirectHome,2000);"
      class="btn btn-primary"
    >
      <span
        id="showSpinnerHome"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Home
    </button>
    <button
      id="showAllBtn"
      onclick="showSpinnerAllSchemesFunc(); setTimeout(redirectAllSchemes,2000);"
      class="btn btn-primary"
    >
      <span
        id="showSpinnerAllSchemes"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      All Schemes
    </button>
    <script>
      if (document.title === "All Schemes") {
        document.getElementById("showAllBtn").style.display = "none"
      }
    </script>
    <button
      id="showSpinnerSignOutBtn"
      onclick="showSpinnerSignOutBtnFunc();setTimeout(redirectSignIn,2000);"
      class="btn btn-danger"
    >
      <span
        id="showSpinnerSignOut"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Sign Out
    </button>
  </div>
</div>

<style>
  .header {
    display: flex; /* Use Flexbox for layout */
    justify-content: space-between; /* Space items in the header */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Add some padding for aesthetics */
    width: 100%;
    margin: 0px;
  }

  .logo {
    flex: 0 0 auto; /* Prevent logo from growing or shrinking */
  }

  .actions {
    display: flex; /* Use Flexbox for actions */
    gap: 10px; /* Space between buttons */
    flex: 0 0 auto; /* Prevent actions from growing or shrinking */
  }
  #showSpinnerHome {
    display: none;
  }
  #showSpinnerAllSchemes {
    display: none;
  }
  #showSpinnerSignOut {
    display: none;
  }
</style>
<script>
  function showSpinnerHomeBtnFunc() {
    // Show the spinner
    const spinnerHome = document.getElementById("showSpinnerHome")
    spinnerHome.style.display = "inline-block" // Show spinner
  }
  function redirectHome() {
    window.location.href = "/schemes/dashBoard"
  }
  function showSpinnerAllSchemesFunc() {
    // Show the spinner
    const spinnerAllSchemes = document.getElementById("showSpinnerAllSchemes")
    spinnerAllSchemes.style.display = "inline-block" // Show spinner
  }
  function redirectAllSchemes() {
    window.location.href = "/schemes/allSchemes"
  }

  function showSpinnerSignOutBtnFunc() {
    // Show the spinner
    const spinnerSignOut = document.getElementById("showSpinnerSignOut")
    spinnerSignOut.style.display = "inline-block" // Show spinner
  }
  function redirectSignIn() {
    window.location.href = "/auth/sign-out"
  }
</script>
