<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add New Scheme</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />

    <style>
      body {
        margin: 0; /* Reset the default margin */
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Ensure the body takes full height */
        font-family: Arial, sans-serif;
      }
      h1 {
        margin-bottom: 20px;
      }
      /* Overlay for loading spinner */
      #spinnerAdd {
        display: none; /* Hidden by default */
      }
      .content {
        flex: 1; /* Make this container take up remaining space */
        padding: 30px; /* Add padding */
      }
      footer {
        background-color: #343a40; /* Dark background color */
        color: white; /* White text color */
        text-align: center; /* Center align text */
        padding: 10px 0; /* Padding for footer */
      }
    </style>
  </head>
  <body>
    <!-- Toast container for notifications -->
    <div class="toast-container">
      <div
        id="successToast"
        class="toast container-fluid full-height justify-content-center align-items-center text-white bg-success"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        style="display: none"
      >
        <div class="d-flex">
          <div class="toast-body">Scheme added successfully!</div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <div
        id="errorToast"
        class="toast container-fluid full-height justify-content-center align-items-center text-white bg-danger"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        style="display: none"
      >
        <div class="d-flex">
          <div class="toast-body">
            An error occurred while adding the scheme!
          </div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>

    <%- include('../partials/navbarAllSchemes.ejs') %>

    <div class="content container">
      <h1 style="text-align: center; margin-top: 50px">Add New Scheme</h1>
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div id="first">
            <form action="/schemes/create" method="POST" name="addNewService">
              <br />
              <div>
                <label for="Sch_Ref">Reference Number</label>
                <input
                  type="text"
                  name="Sch_Ref"
                  class="form-control"
                  id="Sch_Ref"
                  placeholder="Enter Your New Reference Number"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="APPNUMBER">Application Number</label>
                <input
                  type="text"
                  name="APPNUMBER"
                  class="form-control"
                  id="APPNUMBER"
                  placeholder="Enter The Application Number"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="BLK">Block</label>
                <input
                  type="text"
                  name="BLK"
                  class="form-control"
                  id="BLK"
                  placeholder="Enter Block Number"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="SUPERVISOR">SUPER VISOR</label>
                <input
                  type="text"
                  name="SUPERVISOR"
                  class="form-control"
                  id="SUPERVISOR"
                  placeholder="Enter The SUPER VISOR"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="ContractorName">Contractor Name</label>
                <input
                  type="text"
                  name="ContractorName"
                  class="form-control"
                  id="ContractorName"
                  placeholder="Enter The Contractor Name"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="Title1">Title</label>
                <input
                  type="text"
                  name="Title1"
                  class="form-control"
                  id="Title1"
                  placeholder="Enter The Title"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="STATUS">STATUS</label>
                <input
                  type="text"
                  name="STATUS"
                  class="form-control"
                  id="STATUS"
                  placeholder="Enter The Status"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="PERCENTAGE">PERCENTAGE</label>
                <input
                  type="text"
                  name="PERCENTAGE"
                  class="form-control"
                  id="PERCENTAGE"
                  placeholder="Enter The PERCENTAGE"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="DATE_OF_COMPLETE">DATE OF COMPLETE</label>
                <input
                  type="date"
                  name="DATE_OF_COMPLETE"
                  class="form-control"
                  id="DATE_OF_COMPLETE"
                  placeholder="Enter The DATE OF COMPLETE"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="NUMBEROFSS">NUMBER OF Substations</label>
                <input
                  type="text"
                  name="NUMBEROFSS"
                  class="form-control"
                  id="NUMBEROFSS"
                  placeholder="Enter The Number Of Substations"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="APPSTATUS">APP STATUS</label>
                <input
                  type="text"
                  name="APPSTATUS"
                  class="form-control"
                  id="APPSTATUS"
                  placeholder="Enter The App Status"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="DATEOFMEASUREMENT">DATE OF MEASUREMENT</label>
                <input
                  type="date"
                  name="DATEOFMEASUREMENT"
                  class="form-control"
                  id="DATEOFMEASUREMENT"
                  placeholder="Enter The Date Of Measurement"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="CONTRACTORAPPRAISAL">CONTRACTOR APPRAISAL</label>
                <input
                  type="text"
                  name="CONTRACTORAPPRAISAL"
                  class="form-control"
                  id="CONTRACTORAPPRAISAL"
                  placeholder="Enter The Contractor Appraisal"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="AREA">AREA</label>
                <input
                  type="text"
                  name="AREA"
                  class="form-control"
                  id="AREA"
                  placeholder="Enter The Area"
                />
              </div>
              <br />
              <div class="form-group">
                <label for="TYPE">TYPE</label>
                <input
                  type="text"
                  name="TYPE"
                  class="form-control"
                  id="TYPE"
                  placeholder="Enter The Type"
                />
              </div>
              <br />
              <div class="col-md-14 text-center">
                <button
                  id="redirect-buttonAdd"
                  onclick="showSpinnerAdd(); setTimeout(redirect,2000);"
                  class="btn btn-primary"
                  style="width: 100%"
                >
                  <span
                    id="spinnerAdd"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Add Scheme
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      $(document).ready(function () {
        $('form[name="addNewService"]').on("submit", function (event) {
          event.preventDefault() // Prevent default form submission
          $("#loadingOverlay").addClass("show") // Show spinner overlay

          $.ajax({
            url: $(this).attr("action"),
            type: $(this).attr("method"),
            data: $(this).serialize(),
            success: function () {
              $("#loadingOverlay").removeClass("show") // Hide spinner overlay
              const toast = new bootstrap.Toast($("#successToast"))
              $("#successToast").show() // Show success message toast
              toast.show()
            },
            error: function () {
              $("#loadingOverlay").removeClass("show") // Hide spinner overlay
              const toast = new bootstrap.Toast($("#errorToast"))
              $("#errorToast").show() // Show error message toast
              toast.show()
            },
          })
        })
      })

      function showSpinnerAdd() {
        // Show the spinner
        const spinnerAdd = document.getElementById("spinnerAdd")
        spinnerAdd.style.display = "inline-block" // Show spinner
      }

      function redirect() {
        // Redirect the user
        window.location.href = "/schemes/allSchemes"
      }
    </script>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
